.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 280px;
  /* 250px sidebar + 30px gap */
  background-color: white;
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar-logo {
  font-size: 24px;
  font-weight: 800;
  color: var(--primary);
  margin: 0;
}

.admin-text {
  color: var(--secondary);
  font-weight: 400;
}

.navbar .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 900px) {
  .navbar {
    padding-left: 100px;
    /* Adjust for collapsed sidebar */
  }
}